body {
    font-family: "Verdana", Georgia, Serif;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 14px;
    font-weight: 200;
}

img {
    border: 2px ridge black;
}

table {
    width: 100%;
}

tr, td {
    border-bottom: 1px dashed black;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

a {
    color: black;
}

#content {
    text-align: left;
}

div {
    /*border: 1px solid black;  FOR TESTING*/
    margin: 10px;
    height: 100vh;
    text-align: center;
}


#main {
    position: relative;
    float: left;
    
    width: 60%;
    
}

#divider {
    position: absolute;
    left: 65%;
    top: 10px;
    bottom: 0%;
    border-left: 2px solid royalblue; 
}

#sidebar {
    float: right;
    width: 30%;
    height: 100%;
}


#profile {
    width: 75%;
}
