body {
    font-family: "Verdana", Georgia, Serif;
    /*min-width: 1050px;*/
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: royalblue;
}

h3 {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

p, li {
    font-size: 12px;
    font-weight: 200;
}
